<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bus449Proj.Properties.Settings._449_dbConnectionString"
            connectionString="server=danielshiels.com;user id=dmshiels;password=N57&gt;th`eFJ?-[}[m;persistsecurityinfo=True;database=449_db"
            providerName="MySql.Data.MySqlClient" />
        <add name="Bus449Proj.Properties.Settings._449_dbConnectionString1"
            connectionString="server=danielshiels.com;user id=dmshiels;password=N57&gt;th`eFJ?-[}[m;persistsecurityinfo=True;database=449_db;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Bus449Proj.Properties.Settings._449_testConnectionString"
            connectionString="server=danielshiels.com;user id=jagraige;persistsecurityinfo=True;database=449_test"
            providerName="MySql.Data.MySqlClient" />
        <add name="Bus449Proj.Properties.Settings._449_dbConnectionString2"
            connectionString="server=danielshiels.com;user id=jagraige;persistsecurityinfo=True;database=449_db"
            providerName="MySql.Data.MySqlClient" />
        <add name="Bus449Proj.Properties.Settings.Bus449_TestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Bus449_Test.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>